SUPABASE_URL="SUA_URL_DO_SUPABASE"
SUPABASE_KEY="SUA_KEY_DO_SUPABASE"
BUCKET_NAME="NOME_DO_SEU_BUCKET"
FILE_PATH="final_tempo_real_2026-04-08_Consolidado_supabase.csv"
SYSTEM_USER_ID="ID_DE_UM_USUARIO_ADMIN"
